
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root { /* CSS Variablen für Farben */
  --background-color: #1e1e1e;
  --background-color-body: #3a3a3a;
  --text-color: #f2f2f2;
  --hover-color: #808080;
  --kw-color: lightslategray;
  --sa-color: steelblue;
  --so-color: #e04a4a;
  --boxshadow-color: rgba(0, 0, 0, 0.486);
  }

*{
  margin: 0; 
}

body { /* allgemeine Stile für den Body */
  background-color: var(--background-color-body);
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  color: var(--text-color);
  min-width: 1200px;
  overflow-x: auto ;
}

#header {
  flex-direction: row;
  text-align: center;
  text-shadow: 0px 0px 12px black;
  text-transform: uppercase;
  background-color: var(--background-color);
  padding: 50px;
}

h1 { 
  font-size: 3rem;
}

#F1logohead{
  width: 200px;
}

h2 {
  font-size: 1.4rem;
  text-shadow: 0px 0px 12px black;
}

main { /* Hauptbereich der Seite */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
  "historie kalender info";
  align-items: start;
  gap: 10px;
  padding: 2% 3%;
  border-radius: 0 0 10px 10px;
  background-color: var(--background-color);
  box-shadow: 1px 10px 10px var(--boxshadow-color);
  min-width: 1200px;
  overflow-x: auto ;
  
}

#kalenderblatt {
  grid-area: kalender;
  min-width: 500px;
}

th.kalenderblatthead { /* Kopfzeile des Kalenders */
  font-size: 2rem;
  text-shadow: black 0px 0px 12px;
  background-color: var(--background-color);
  border-radius: 15px 0;
}

#kalenderblatt table { /* Kalender Tabelle */
  text-align: center;
  box-shadow: 0 0 10px var(--boxshadow-color);
  table-layout: fixed; /* feste Breite für die Zellen */;
  width: 100%;
  background-color: var(--background-color-body);
  border: rgba(0, 0, 0, 0.719) 2px solid;
  border-radius: 50px 0;
  border-spacing: 5px;
  padding: 10px;
  font-size: 1.4rem;
}

.kalendertage td { /* Tabellenzellen im K alender */
  background-color: var(--background-color);
  border-radius: 10px 0;
  padding: 1.5%;
}

#kalenderblatt {
  .heute { /* markiert den aktuellen Tag */
    color: black;
    background-color: lightgray;
    font-weight: bold;
  }
}

tr.wochentage th {
  background-color:var(--kw-color);
  font-weight: bold;
  padding: 1.5%;
  border-radius: 10px 0;
}

tr.kalendertage1>td:nth-child(2) {
  background:transparent;
}

th.kalenderblatthead:hover { /* Hover-Effekt für Kalenderblatt Kopfzeile */
  background-color: var(--hover-color);
  transform: scale(1.15);
  transition: 0.3s;
}

tr.wochentage th:hover { /* Hover-Effekt für Wochentage */ 
    background-color:var(--hover-color);
    transform: scale(1.15);
    transition: 0.3s;
}

#kalenderblatt td:nth-child(7) { /* Hintergrundfarbe für Samstag */
  background-color: var(--sa-color);
}

#kalenderblatt td:nth-child(8) { /* Hintergrundfarbe für Sonntag */
  background-color: var(--so-color);
}

#kalenderblatt td:nth-child(1) {  /* Hintergrundfarbe für die KW */
  background-color: var(--kw-color);
  font-weight: bold;
}

#kalenderblatt td:hover:not(tr.kalendertage1>td:nth-child(2)) {
  background-color: var(--hover-color);
  transform: scale(1.15);
  transition: 0.3s;
}

#historie {
  grid-area: historie;
  background-color: var(--background-color-body);
  border: rgba(0, 0, 0, 0.719) 2px solid;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--boxshadow-color);

}

#historie li {
  line-height: 1.5;
}

#infotext {
  line-height: 1.5;
  grid-area: info;
  padding: 3px 25px;
  background-color: var(--background-color-body);
  border: rgba(0, 0, 0, 0.719) 2px solid;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--boxshadow-color);
}