:root {
  /* CSS Variablen für Farben */
  --background-color: #2b2b2b;
  --background-color-body: #3a3a3a;
  --text-color: #f2f2f2;
  --table-background: #3a3a3a;
  --hover-color: #808080;
  --kw-color: lightslategray;
  --sa-color: steelblue;
  --so-color: #e04a4a;
  }

body {
  /* allgemeine Stile für den Body */
  background-color: var(--background-color-body);
  font-family: Arial, sans-serif;
  margin: 0;
  color: #f2f2f2;
}

#header {
  text-align: center;
  font-size: 25px;
  text-shadow: 0px 0px 12px black;
  text-transform: uppercase;
  background-color: var(--background-color);
  padding: 50px;
}

h1 { margin: 0; }

main {
  /* Hauptbereich der Seite */
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-areas:
  "kalender historie"
  "info info";
  width: 100%;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  background-color: var(--background-color);
  padding: 2% 3%;
  gap: 10px;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.486);
}

#kalenderblatt {
  grid-area: kalender;
}

th.kalenderblatthead {
  /* Kopfzeile des Kalenders */
  font-size: 26px;
  text-shadow: black 0px 0px 12px;
  background-color: var(--background-color);
  border-radius: 15px 0;
}

#kalenderblatt table {
  /* Kalender Tabelle */
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
  table-layout: fixed; /* feste Breite für die Zellen */
  width: 100%;
  max-width: 100%;
  background-color: var(--background-color-body);
  border: rgba(0, 0, 0, 0.719) 2px solid;
  border-radius: 50px 0;
  border-spacing: 5px;
  padding: 10px;
}

.kalendertage td {
  /* Tabellenzellen im K alender */
  background-color: var(--background-color);
  border-radius: 10px 0;
  padding: 1.5%;
}

#kalenderblatt {
  .heute {
    /* markiert den aktuellen Tag */
    color: black;
    background-color: lightgray;
    font-weight: bold;
  }
}

tr.wochentage th {
  background-color:var(--kw-color);
  font-weight: bold;
  padding: 1.5%;
  border-radius: 10px 0;
}

  tr.wochentage th:hover {
    /* Hover-Effekt für Wochentage */
    background-color:var(--hover-color);
  }

#kalenderblatt td:nth-child(7) {
  /* Hintergrundfarbe für Samstag */
  background-color: var(--sa-color);
}

#kalenderblatt td:nth-child(8) {
  /* Hintergrundfarbe für Sonntag */
  background-color: var(--so-color);
}

#kalenderblatt td:nth-child(1) {
  /* Hintergrundfarbe für die KW */
  background-color: var(--kw-color);
  font-weight: bold;
}

#kalenderblatt td:hover {
  /* Hover-Effekt für Kalenderblatt */
  background-color: var(--hover-color);
}

#historie {
  grid-area: historie;
  background-color: var(--background-color-body);
  border: rgba(0, 0, 0, 0.719) 2px solid;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
  max-width: 90%;
}

#historie p {
  font-size: 20px;
  line-height: 1.5;
  max-width: 60%;
}

#infotext {
  grid-area: info;
  padding: 20px;
  max-width: 75%;
  background-color: var(--background-color-body);
  border: rgba(0, 0, 0, 0.719) 2px solid;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
}

#infotext h2 {
  font-size: 20px;
  text-shadow: 0px 0px 12px black;
}
